@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

body, html {
  background: #fff !important;
  color: #000 !important;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
}
